# Ignore arquivos de build e cache
bin/
obj/
[Bb]in/
[Oo]bj/

# Ignora arquivos gerados pelo VS Code
.vscode/

# Ignora arquivos de log do Rider
.idea/

# Ignora arquivos de configuração de usuário do Visual Studio
*.user
*.suo

# Ignora arquivos de cache do ASP.NET
*.dbmdl
*.bak
*.log

# Ignora arquivos de dependências locais
packages/
*.nupkg

# Ignora o arquivo do Static Web Assets Manifest
**/staticwebassets.build.json

# Ignora diretórios de publicação
publish/
out/
obj/Debug/net9.0/TotemPWA.csproj.AssemblyReference.cache
obj/Debug/net9.0/TotemPWA.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net9.0/TotemPWA.GlobalUsings.g.cs
obj/Debug/net9.0/TotemPWA.RazorAssemblyInfo.cs
