@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_WelcomeLayout.cshtml";
}
<div class="center">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Pedido">Iniciar</a>
</div>