@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_WelcomeLayout.cshtml";
}
<style>
        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #2f2f2f;
            color: white;
        }

        .banner {
            background: url("img/b.jpg") center/cover;
            text-align: center;
            padding: 120px 20px;
            color: white;
            font-size: 1.8rem;
            font-weight: bold;
        }

        .container {
            width: 85%;
            max-width: 900px;
            margin: auto;
            background: rgb(75, 75, 75);
            padding: 40px;
            border-radius: 12px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            margin-top: -50px;
            position: relative;
        }

        h1,
        h2 {
            text-align: center;
            color: white;
        }

        p {
            text-align: justify;
            line-height: 1.8;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        ul p {
            background: #202020;
            padding: 12px;
            border-radius: 8px;
            font-weight: 500;
        }

        footer {
            text-align: center;
            padding: 20px;
            background: #222;
            color: white;
            margin-top: 40px;
            font-size: 1rem;
        }

        a {
            color: #3395f7;
            text-decoration: none;
            font-weight: 500;
        }

        a:hover {
            text-decoration: underline;
            color: #0067d6;
        }

        .a1 {
            text-align: center;
        }
    </style>

    <div class="banner">
        <h1>Inteligência Artificial</h1>
        <p class="a1">Uma visão geral sobre a evolução e impacto da IA na sociedade</p>
    </div>

    <div class="container">
        <h2>Introdução</h2>
        <p>A Inteligência Artificial (IA) é uma área da ciência da computação que visa o desenvolvimento de sistemas
            capazes de executar tarefas que normalmente exigem inteligência humana. Com o avanço da tecnologia, a IA tem
            se tornado cada vez mais presente no cotidiano.</p>

        <h2>O que é inteligência artificial?</h2>
        <p>A Inteligência Artificial é a capacidade que soluções tecnológicas têm de simular a inteligência humana,
            realizando determinadas atividades de maneira autônoma e aprendendo por si mesmas, graças ao processamento
            de um grande volume de dados que recebem de seus usuários.</p>

        <h2>1. Exemplos de IA no dia a dia</h2>
        <ul>
            <p><strong>Assistentes Virtuais:</strong> Como Alexa e Google Assistant.</p>
            <p><strong>Saúde:</strong> Diagnóstico por imagem e predição de doenças.</p>
            <p><strong>Transporte:</strong> Veículos autônomos.</p>
            <p><strong>Entretenimento:</strong> Recomendação de filmes e músicas.</p>
        </ul>

        <h2>2. Exemplos de IA na indústria</h2>
        <ul>
            <p><strong>Automação:</strong> Processos industriais otimizados.</p>
            <p><strong>Logística:</strong> Roteirização e previsão de demanda.</p>
            <p><strong>Setor Financeiro:</strong> Análise preditiva e detecção de fraudes.</p>
        </ul>

        <h2>3. Ferramentas de inteligência artificial (IA)</h2>
        <ul>

            <p><strong>Ferramentas de IA para análise de dados:</strong> DataLab, Julius AI, GitHub Copilot.</p>
            <p><strong>Ferramentas de IA para automação:</strong> LivePerson, Windows PowerShell, ClickUp.</p>
            <p><strong>Ferramentas de IA generativas:</strong> ChatGPT, Microsoft Copilot, Bard.</p>
            <p><strong>Ferramentas de IA para vendas e marketing:</strong> Beautiful.AI, Picsart AI, Jasper AI,
                Grammarly,
                Copy AI, Stockimg, Midjourney.</p>
            <p><strong>Ferramentas de IA para e-commerce:</strong> Flair.ai, Chat Fuel, Synthesia, Voicely.</p>
            <p><strong>Outras ferramentas de IA:</strong> TensorFlow, PyTorch, Scikit-learn, Keras, IBM Watson, OpenAI
                Gym,
                H2O.ai, Google Cloud AI Platform.</p>
        </ul>

        <h2>4. Ética na Inteligência Artificial (IA)</h2>
        <p>A ética na Inteligência Artificial (IA) é um conjunto de princípios que orienta o desenvolvimento, uso e
            implantação da IA. O objetivo é garantir que a IA seja justa, transparente, segura e responsável.</p>

        <h3>Princípios da ética na IA</h3>
        <ul>
            <p><strong>Imparcialidade:</strong> Garantir que os algoritmos não perpetuem preconceitos ou discriminações.
            </p>
            <p><strong>Responsabilidade:</strong> Considerar as implicações sociais e morais das tecnologias.</p>
            <p><strong>Uso responsável:</strong> Garantir o uso responsável da IA.</p>
            <p><strong>Privacidade:</strong> Proteger a privacidade e segurança dos dados.</p>
            <p><strong>Impacto social:</strong> Considerar o impacto da automação no emprego e na sociedade.</p>
        </ul>

        <h3>Desafios éticos da IA</h3>
        <ul>
            <p><strong>Veracidade:</strong> Garantir a veracidade das informações geradas pela IA.</p>
            <p><strong>Impacto humano:</strong> Considerar o impacto da IA em situações que envolvem vidas humanas.</p>
            <p><strong>Responsabilidade legal:</strong> Estabelecer responsabilidades quando a IA comete um crime.</p>
        </ul>

        <h3>Recomendações da UNESCO</h3>
        <p>Em 2021, a Conferência Geral da UNESCO aprovou a Recomendação sobre a Ética da Inteligência Artificial, o
            primeiro instrumento global de definição de normas sobre a IA.</p>

            <h2>Referências</h2>
            <p><a href="https://www.tableau.com/pt-br/learn/articles/ai">tableau.com</a></p>
            <p><a href="https://tecnoblog.net/responde/5-exemplos-de-inteligencia-artificial-no-dia-a-dia/#:~:text=5.-,Agricultura,condi%C3%A7%C3%B5es%20de%20sa%C3%BAde%20das%20planta%C3%A7%C3%B5es.">Tecnoblog</a></p>
            <p><a href="https://www.aloee.it/blog/exemplos-de-inteligencia-artificial-na-industria#:~:text=Ele%20envolve%20a%20organiza%C3%A7%C3%A3o%20e,velocidade%20ou%20aumentar%20os%20custos.">Aloee</a></p>
            <p><a href="https://www.smarthint.co/o-que-e-inteligencia-artificial-exemplos/#:~:text=16)%20Agricultura-,1)%20Assistentes%20virtuais,adultos%20n%C3%A3o%20ficam%20muito%20atr%C3%A1s.">SmartHint</a></p>
            <p><a href="https://tray.com.br/escola/ferramentas-de-inteligencia-artificial/#:~:text=As%2020%20melhores%20ferramentas%20de,Synthesia%20e%20Voicely%20se%20destacam.">Escola de E-Commerce</a></p>
            <p><a href="https://blog.csptecnologia.com/conheca-10-ferramentas-de-ia-mais-usadas/">CSP TECH</a></p>
            <p><a href="https://www.getguru.com/pt/reference/ai-tools#:~:text=O%20que%20s%C3%A3o%20ferramentas%20de%20IA?,fornecer%20insights%20e%20otimizar%20opera%C3%A7%C3%B5es.">getguru</a></p>
            <p><a href="https://www.questionpro.com/blog/pt-br/ferramentas-de-inteligencia-artificial/#:~:text=5%20Conclus%C3%A3o-,O%20que%20s%C3%A3o%20ferramentas%20de%20intelig%C3%AAncia%20artificial?,em%20grandes%20conjuntos%20de%20dados.">Question Pro</a></p>
            <p><a href="https://www.serpro.gov.br/menu/noticias/noticias-2023/etica-na-ia#:~:text=A%20%C3%89tica%20na%20IA%20possui,n%C3%A3o%20perpetuem%20preconceitos%20ou%20discrimina%C3%A7%C3%B5es.">Serpro</a></p>
            <p><a href="https://www.unesco.org/pt/fieldoffice/brasilia/expertise/artificial-intelligence-brazil#:~:text=A%20%C3%A9tica%20da%20intelig%C3%AAncia%20artificial,este%20tema%20na%20sociedade%20brasileira.">UNESCO Brasil</a></p>
            <p><a href="https://www.zendesk.com.br/blog/etica-na-inteligencia-artificial/">Zendesk</a></p>
            <p><a href="https://www.escolavirtual.gov.br/curso/1090#:~:text=A%20%C3%A9tica%20em%20Intelig%C3%AAncia%20Artificial,na%20sociedade%20como%20um%20todo.">Escola Virtual</a></p>
            <p><a href="https://pt.wikipedia.org/wiki/%C3%89tica_na_intelig%C3%AAncia_artificial#:~:text=Com%20isso%20vai%20mudar%20a,proibi%C3%A7%C3%A3o%20das%20armas%20a%20laser.">Wikipédia</a></p>
            <p><a href="https://rockcontent.com/br/blog/a-etica-na-inteligencia-artificial/#:~:text=Resumindo%2C%20a%20%C3%A9tica%20no%20uso,mal%20utilizado%20corrompa%20seu%20prop%C3%B3sito.&text=Al%C3%A9m%20dos%20desafios%20%C3%A9ticos%20j%C3%A1,no%20uso%20de%20tecnologias%20avan%C3%A7adas.">Rock Content</a></p>            
    </div>

    <footer>
        <p>&copy; 2025 - Matheus Cuero</p>
    </footer>