body{
<<<<<<< Updated upstream
  background-color: aquamarine;
=======
  background-color: #900;
>>>>>>> Stashed changes
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}