@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(236deg, 
        #990000 0%, 
        #990000 50%, 
        #880202 50%, 
        #880202 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
}

.image {
    max-width: 90%;
    height: auto;
}

#logo {
    max-height: 20vh;
}

.combo-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 35vh;
    margin-top: -2vh;
}

#combo {
    position: relative;
    z-index: 2;
    max-width: 90vw;
    width: 100%;
    max-height: 65vh;
    height: auto;
    object-fit: contain;
    margin-bottom: 5rem;
}

#sombra {
    position: absolute;
    z-index: 1;
    max-height: 45vh;
    opacity: 0.4;
    transform: scale(1.1) translateY(45px);
}


#text-center {
    font-size: clamp(6rem, 1.2vw, 8rem);
    margin-bottom: 4rem;
    font-weight: 700;
    color: #f7f7cf;
    margin: 1vh 0;
    line-height: 1.05;
}

.botao {
    background: #f7f7cf;
    border-radius: 30px;
    padding: clamp(1rem, 1vw, 1.5rem) clamp(5rem, 1vw, 5rem);
    margin-top: 2vh;
}

a.nav-link {
    font-size: clamp(3.5rem, 1vw, 5rem);
    font-weight: 700;
    color: #990000;
    text-decoration: none;
}

.admin-btn {
    position: absolute;
    top: 2vw;
    left: 0;
    background: #b2b200;
    color: #fff;
    border: none;
    border-radius: 0 8px 8px 0;
    padding: 0.7em 1em;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    transition: background 0.2s;
    text-decoration: none;
}

.admin-btn:hover {
    background: #a0a000;
    color: #fff;
}
